
/* Stylesheet for unique Recipes page elements */

/* Recipe page header */

.recipe-header {
  background: $ghost-white url(img/HeaderBackground.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%, 100%;
  width: 100%;
}
