
/* Stylesheet for unique LatestRecipes page elements */

.all-recipe-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.8rem;
  grid-column-start: span 12;
  grid-row-start: 1;
  justify-content: start;
  @media screen and (max-width: $width-mobile) {
    align-items: center;
  }
}

.all-recipe-heading h2 {
  font-weight: 500;
}

.all-recipe-text-checkbox {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.all-recipe-text-checkbox h1 {
  font-size: 2rem;
  @media screen and (max-width: $width-mobile) {
      padding-right: 4rem;
  }
}

.all-recipe-text-checkbox form {
  font-size: 1.1rem;
}

.all-recipe-text-checkbox form input {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: bold;
  transform: scale(1.2);
}
