
/* Skilgreina og sækja skriftir */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;800&display=swap');

html {
  font-size: 20px;
}

/* Skilgreina max breidd efnis á síðu */
$max-width: 1290px;

/* Skilgreinir liti */
$skull-white: #fff;
$ghost-white: #fafafa;
$shining-gold: #e3cdb1;
$codex-grey: #9b9b9b;
$chaos-black: #000;
$adeptus-battlegrey: #5e5b69;
$astronomican-grey: #d0d0d0;
$bleached-bone: #f7f1eb;

/* Skilgreinir kvikun á tökkum */
$transition: 300ms ease-in-out;
