
/* Footer at bottom of every page */

.newsletter-background {
  background-color: $chaos-black;
}

.newsletter {
  align-items: center;
  height: 17rem;
}

.newsletter-text {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 6;

  @media screen and (max-width: $width-mobile) {
    align-items: center;
    grid-column: 2 / span 10;
    grid-row-start: 1;
  }
}

.newsletter-text h2 {
  font-size: 0.8rem;
  font-weight: 500;
}

.newsletter-text h1 {
  color: $skull-white;
  font-size: 2rem;

  @media screen and (max-width: $width-mobile) {
    font-size: 1.5rem;
  }
}

.newsletter form {
  display: flex;
  flex-direction: column;
  grid-column: 7 / span 3;

  @media screen and (max-width: $width-mobile) {
    align-items: center;
    grid-column: 4 / 10;
    grid-row-start: 2;
  }
}

.newsletter form label {
  color: $skull-white;
  font-family: 'Poppins', helvetica, arial, sans-serif;
  font-size: 0.7rem;
  padding-bottom: 0.4rem;
}

.newsletter form input {
  background-color: $chaos-black;

  /* Lint complains about none but this is legitimate,
     without the border:none command there will be an
     ugly extra border around the textbox */
  border: none;
  border-bottom: 2px solid $shining-gold;
  color: $skull-white;
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 1.1rem;

  @media screen and (max-width: $width-mobile) {
    text-align: center;
  }
}

.newsletter button {
  background-color: $chaos-black;
  grid-column-end: 12;

  @media screen and (max-width: $width-mobile) {
    align-items: center;
    grid-column: 4 / span 5;
    grid-row-start: 3;
  }
}

.footer {
  background-color: $skull-white;
  height: 17rem;
}

.come-for-more {
  align-items: center;
  display: flex;
  grid-column: span 12;
  justify-content: center;
  padding-bottom: 1.5rem;
  padding-top: 8rem;
}

.logo-bar {
  align-items: center;
  display: flex;
  grid-column: span 12;
  justify-content: center;
  padding-bottom: 1.5 rem;
}

.logo-bar .image {
  padding-left: 1rem;
  padding-right: 1rem;
}

.yumyum {
  align-items: center;
  color: $astronomican-grey;
  display: flex;
  font-size: 0.7rem;
  grid-column: span 12;
  justify-content: center;
  padding-bottom: 1.5rem;
}
