
/* Defines global variables used by multiple
   pages */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $chaos-black;
  font-family: 'Poppins', helvetica, arial, sans-serif;
}

main {
  padding-top: 6rem;
}

a {
  color: $shining-gold;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid $shining-gold;
  border-radius: 5px;
  color: $shining-gold;
  font-size: 0.8rem;
  height: 2.6rem;
  padding: 0.8rem;
  transition: color $transition, background-color $transition;
  width: 12.5rem;
  word-break: initial;
}

button:hover {
  background-color: $shining-gold;
  color: $ghost-white;
}

button:active {
  background-color: $shining-gold;
  border: 1px solid $ghost-white;
  color: $ghost-white;
}

h1,
h4 {
  font-family: 'Playfair Display', Georgia, serif;
}

h2,
h3 {
  color: $shining-gold;
  font-family: 'Poppins', helvetica, arial, sans-serif;
}

table th {
  font-family: 'Playfair Display', Georgia, serif;
}

table td {
  font-family: 'Poppins', helvetica, arial, sans-serif;
}

/* Style of heading with first half black and
   second half grey */
.black-grey-text {
  display: grid;
  font-size: 2rem;
  grid-template-columns: 1fr;
  justify-items: stretch;

  @media screen and (max-width: $width-mobile) {
    font-size: 1rem;
  }
}

.grey {
  color: $codex-grey;
}

.black {
  color: $chaos-black;
}
