
/* Main display grid defined */

.grid {
  column-gap: 30px;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  max-width: $max-width;
  overflow: hidden;

  @media screen and (max-width: $width-mobile) {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}
