
.HeaderMenuBackground {
  background-color: $ghost-white;
}

.Menu {
  grid-column-start: span 12;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}


.Menu a {
  color: $codex-grey;
  font-size: 0.8rem;
}

header li {
  display: inline;
  padding: 0.8rem;
}


.HomeHeader {
  background: $ghost-white url(img/HeaderBackground.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%, 100%;
  width: 100%;
}

.RecipeHeader {
  background: $ghost-white url(img/HeaderBackground.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%, 100%;
  width: 100%;
}

.VideoRecipeHeader {
  background-image: url('img/VideoBackground.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 100% 30%;
  width: 100%;
}

.VideoRecipeOverlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
}

.Hero {
  justify-content: space-between;
  align-content: center;
  height: 100vh;
}

.VideoHero {
  justify-content: space-between;
  align-content: center;
  height: 70vh;
}

.HeroText {
  grid-column-start: span 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.HeroText h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

.HeroText h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.HeroText p {
  font-size: 0.9rem;
  padding-bottom: 1.5rem;
}

.ReferenceBar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.ReferenceTextIcon {
  display: flex;
  align-items: center;
  justify-items: center;
}

.ReferenceTextIcon .image{
  padding-right: 0.7rem;
  align-self: center;
  box-sizing: border-box;
  padding-bottom: 0.3rem;
}

.ReferenceTextIcon p{
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
  align-self: center;
}

.ReferenceTextIcon p:first-of-type{
  font-weight: bold;
  padding-right: 0.3rem;
}

.VideoRecipeHeader > .VideoRecipeOverlay > .VideoHero > .HeroText {
  color: $skull-white;
}

.GreyHeroText {
  color: $codex-grey;
}

.PlayIcon {
  grid-column: 9 / span 2;
  justify-items: center;
  align-items: center;
}

.PlayIcon .image {
  box-sizing: border-box;
  padding-top: 30%;
}
