
/* General elements shared by multiple
   page headers */

/* Menu at top of every page */

.header-menu-background {
  background-color: $ghost-white;
}

.menu {
  display: flex;
  grid-column-start: span 12;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.menu a {
  color: $codex-grey;
  font-size: 0.8rem;
}

header li {
  display: inline;
  padding: 0.8rem;
}

/* General hero element styles */

.hero {
  align-content: center;
  height: 100vh;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column-start: span 5;
  justify-content: flex-start;
}

.hero-text h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

.hero-text h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.hero-text p {
  font-size: 0.9rem;
  padding-bottom: 1.5rem;
}

.reference-bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.reference-text-icon {
  align-items: center;
  display: flex;
  justify-items: center;
}

.reference-text-icon .image {
  align-self: center;
  box-sizing: border-box;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
}

.reference-text-icon p {
  align-self: center;
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
}

.reference-text-icon p:first-of-type {
  font-weight: bold;
  padding-right: 0.3rem;
}

.video-recipe-overlay > .video-hero > .hero-text {
  color: $skull-white;
}

.grey-hero-text {
  color: $codex-grey;
}
