
.header-menu-background {
  background-color: $ghost-white;
}

.menu {
  grid-column-start: span 12;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}


.menu a {
  color: $codex-grey;
  font-size: 0.8rem;
}

header li {
  display: inline;
  padding: 0.8rem;
}


.home-header {
  background: $ghost-white url(img/HeaderBackground.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%, 100%;
  width: 100%;
}

.recipe-header {
  background: $ghost-white url(img/HeaderBackground.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%, 100%;
  width: 100%;
}

.video-recipe-header {
  background-image: url('img/VideoBackground.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 100% 30%;
  width: 100%;
}

.video-recipe-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
}

.hero {
  justify-content: space-between;
  align-content: center;
  height: 100vh;
}

.video-hero {
  justify-content: space-between;
  align-content: center;
  height: 70vh;
}

.hero-text {
  grid-column-start: span 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hero-text h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

.hero-text h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.hero-text p {
  font-size: 0.9rem;
  padding-bottom: 1.5rem;
}

.reference-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.reference-text-icon {
  display: flex;
  align-items: center;
  justify-items: center;
}

.reference-text-icon .image{
  padding-right: 0.7rem;
  align-self: center;
  box-sizing: border-box;
  padding-bottom: 0.3rem;
}

.reference-text-icon p{
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
  align-self: center;
}

.reference-text-icon p:first-of-type{
  font-weight: bold;
  padding-right: 0.3rem;
}

.video-recipe-header > .video-recipe-overlay > .video-hero > .hero-text {
  color: $skull-white;
}

.grey-hero-text {
  color: $codex-grey;
}

.play-icon {
  grid-column: 9 / span 2;
  justify-items: center;
  align-items: center;
}

.play-icon .image {
  box-sizing: border-box;
  padding-top: 30%;
}
