
/* Background when there are 6 elements in list */

.latest-recipe-section-background {
  background: linear-gradient($skull-white 33%, $ghost-white 0%);
}

/* Background when there are 21 elements in list */

.all-recipe-section-background {
  background: linear-gradient($skull-white 7%, $ghost-white 0%);
}

/* Recipes hover card styles */

/* Heading for hover card section */
.latest-recipe-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.8rem;
  grid-column-start: span 12;
  justify-content: start;
  width: 100%;

  @media screen and (max-width: $width-mobile) {
    align-items: center;
  }
}

.latest-recipe-heading h2 {
  font-weight: 500;
}

.recipes-list {
  grid-column: span 12;
  grid-row-start: 2;
}

.card-hover {
  background-color: $skull-white;
  display: flex;
  flex-direction: column;
  grid-column-start: span 4;
  height: 19.5rem;

  @media screen and (max-width: $width-mobile) {
    grid-column-start: span 12;
  }
}

.card-hover .image {
  height: 75%;
  overflow: hidden;
  width: 100%;
}

.card-hover .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-hover .card-hover-text {
  align-items: end;
  display: grid;
  padding: 1.25rem 1rem 1.125rem;
}

.card-hover .card-hover-text > h2 {
  color: $codex-grey;
  font-size: 0.7rem;
  font-weight: 500;
  grid-column-start: 1 / span 2;
  justify-self: start;
  padding: 0.2rem;
}

.card-hover .card-hover-text > h1 {
  color: $chaos-black;
  font-size: 1.1rem;
  grid-column-start: 1;
  justify-self: start;
}

.card-hover .card-hover-text > a {
  font-size: 0.8rem;
  grid-column-start: 2;
  justify-self: end;
}

.recipe-section-button {
  align-items: center;
  display: flex;
  grid-column: span 12;
  justify-content: center;
  padding-bottom: 6rem;
}

/* Video recpies hover card styles */

.video-recipe-section-background {
  background: linear-gradient($skull-white 66%, $ghost-white 0%);
}

.video-recipie-section-home {
  padding-top: 12rem;

  @media screen and (max-width: $width-mobile) {
    padding-top: 1rem;
  }
}

.latest-video-recipes-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.8rem;
  grid-column-start: span 12;
  grid-row-start: 1;
  justify-content: start;

  @media screen and (max-width: $width-mobile) {
    align-items: center;
  }
}

/* styleint throws error over position of this element
   but it is wrong. */
.latest-video-recipes-heading h2 {
  font-weight: 500;
}

.video-recipes-list {
  grid-column: span 12;
  grid-row-start: 2;
}

.video-card-hover {
  background-color: $skull-white;
  grid-column-start: span 4;
  height: 16.5rem;

  @media screen and (max-width: $width-mobile) {
    grid-column-start: span 12;
  }
}

.video-card-hover .image {
  height: 70%;
  overflow: hidden;
  width: 100%;
}

.video-card-hover .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.video-card-hover .video-card-hover-text {
  align-items: end;
  display: grid;
  padding: 1.25rem 1rem 1.125rem;
}

.video-card-hover .video-card-hover-text > h2 {
  color: $codex-grey;
  font-size: 0.7rem;
  font-weight: 500;
  grid-column-start: 1 / span 2;
  justify-self: start;
}

.video-card-hover .video-card-hover-text > h1 {
  color: $chaos-black;
  font-size: 1.1rem;
  grid-column-start: 1;
  justify-self: start;
}

.video-card-hover .video-card-hover-text > a {
  font-size: 0.8rem;
  grid-column-start: 2;
  justify-self: end;
  padding: 0.2rem;
}

.video-section-button {
  align-items: center;
  display: flex;
  grid-column: span 12;
  justify-content: center;
  padding-bottom: 5rem;
}
