
/* Stylesheet for recipe section */

.recipe {
  padding-bottom: 6rem;
}

.recipe h1 {
  color: $astronomican-grey;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.ingredients {
  grid-column: 1 / span 2;
  @media screen and (max-width: $width-mobile) {
    grid-column: 2 / span 10;
    grid-row-start: 1;
    margin: auto;
  }
}

.ingredients table {
  padding-bottom: 2rem;
}

.ingredients tr th {
  color: $chaos-black;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  text-align: left;
}

.ingredients tr td:nth-child(2) {
  color: $codex-grey;
  font-size: 0.9rem;
}

.ingredients tr td:nth-child(1) {
  color: $shining-gold;
  font-size: 1.8rem;
  padding-right: 2.5rem;
  text-align: center;
}

.method {
  grid-column: 5 / span 8;
  @media screen and (max-width: $width-mobile) {
    grid-column: 2 / span 10;
    grid-row-start: 2;
    margin: auto;
    text-align: justify;
  }
}

.method p {
  font-size: 0.9rem;
  line-height: 1.7rem;
  padding-bottom: 1rem;
}

.method-paragraph {
  padding-bottom: 2rem;
}
