
/* Stylesheet for recipe section */

.recipe {
  padding-bottom: 6rem;
}

.recipe h1{
  color: $astronomican-grey;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.ingredients {
  grid-column: 1 / span 2;
}

.ingredients table{
  padding-bottom: 2rem;
}


.ingredients tr th{
  font-size: 0.9rem;
  color: $chaos-black;
  text-align: left;
  padding-bottom: 1rem;
}

.ingredients tr td:nth-child(2){
  font-size: 0.9rem;
  color: $codex-grey;
}

.ingredients tr td:nth-child(1){
  font-size: 1.8rem;
  color: $shining-gold;
  text-align: center;
  padding-right: 2.5rem;
}

.method {
  grid-column: 5 / span 8;
}

.method p {
  font-size: 0.9rem;
  line-height: 1.7rem;
  padding-bottom: 1rem;
}

.method-paragraph {
  padding-bottom: 2rem;
}
